<div id="auth">
    <h1><a href="/auth/google">Authenticate with Google</a> </h1>
</div>


<style>
    #auth {
        text-align: center;
        margin-top: 50px;
        background-color: aqua;
        width: 500px;
        height: 100px;
        padding: 10px;
        color: rgb(0, 0, 0);
        position: relative;
        top: 250px;
        left: calc(50% - 250px);
        border-radius: 20px;
        box-shadow: 5px 10px;
    }
    #auth:hover{
        cursor: pointer;
        box-shadow: 0px 0px;
        color: rgb(0, 0, 0);
        background-color: aliceblue;
    }
    a{
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
    a:hover{
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
    body{
        background-color: blueviolet;
    }
</style>